.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

 .survey{
     border-radius: 10px;    
     display: grid;
     grid-template-rows : 60px auto;
     width: 800px;
     height: 500px;
     background-color:#FAAFBA;
 }

.survey_header {
    display:flex;
    justify-content:center;
    align-items:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #8e32d8;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    z-index:1;
}

.activeo {
    background-color: #b200ff !important;
    color: #000000 !important;
}

.survey_body {
    background-color: #D2B4DE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding : 30px;

}

.option_grp{
    list-style-type:none;
    margin: 30px;
}

.option{
    background-color:snow;
    width: 300px; 
    padding: 15px 20px;
    margin-bottom:15px;
    border-radius:80px;
    border: 3px solid transparent;
}

    .option:hover {
        cursor: pointer;
        border: 3px solid #b200ff;
        color: #b200ff;
    }

.btn-next {
    border-radius: 80px;
    background-color: #b200ff;
    padding: 15px 15px;
    color:antiquewhite;
    border:none;
    transition: 0.4s all;
}

    .btn-next:hover {
        cursor: pointer;
        background-color: antiquewhite;
        color: #b200ff;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    }

.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;

}

.wrap{
    
    width: 500px;
}

.selecting_survey input,
.selecting_survey button{
    display:block;
    width: 100%;
}

.selecting_survey input:focus,
.selecting_survey button:focus{
    outline:none;
}

.selecting_survey input {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid #000000
}

.selecting_survey button{
    margin-bottom: 15px;
    font-size: 25px;
    padding : 20px 0;
    background-color:#ee82e4;
    border-radius:30px;
    transition: 0.4s all;
    width: 100%; 
}

.user_name,
.user_points,
.user_final{
    color: indigo;
    text-align:center;
    margin:15px
}

.selecting_survey button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

    .row-content {
        margin: 0px auto;
        padding: 50px 0px;
        border-bottom: 1px ridge;
        min-height: 400px;
    }

.footer {
  background-color: #FDD7E4;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #FAAFBA;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #F6358A; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #F6358A; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

.carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-header {
  background: #F6358A;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background: #FDD7E4; }

